Repository oxopolitics-internship-for-codestates/BePol, pull requests merged in 2022-08, with the labels that each got.

#31 찬반투표 API 기능 구현
  server/app.js
  server/config/config.js
  server/controllers/posts/vote.js
  server/db/database.js
  server/models/post.js
  server/models/postAnswer.js
  server/routes/posts.js
Labels: feature, Server

#35 [Server] feature: 댓글 조회/작성/수정/삭제 및 댓글 공감 기능
  server/app.js
  server/controllers/comments/comments.js
  server/controllers/comments/likes.js
  server/models/commentLike.js
  server/routes/comments.js
  server/service/comment.js
  server/service/commentLike.js
  server/service/user.js
Labels: feature, 4h, Bare Minimum, Server

#36 [Server] Fix: 잘못된 oauth 링크 수정
  server/controllers/users/users.js
Labels: bug, Server

#34 통계 기능 서버 구현
  server/controllers/posts/record.js
  server/controllers/posts/vote.js
  server/models/postAnswer.js
  server/models/postStatistics.js
  server/package-lock.json
  server/routes/posts.js
  server/services/postAnswer.js
Labels: feature, Bare Minimum, Server

#41 [Client] 법안 작성페이지 추가
  client/package-lock.json
  client/package.json
  client/public/images/writeIcon.png
  client/public/images/빈파일
  client/public/index.html
  client/src/pages/Write.jsx
  client/src/pages/WriteStyled.js
  client/src/store/store.js
Labels: feature, Client

#43 [Server] feature: 최초 로그인을 위한 signup API 추가
  server/controllers/comments/comments.js
  server/controllers/comments/likes.js
  server/controllers/posts/record.js
  server/controllers/posts/vote.js
  server/controllers/users/users.js
  server/routes/users.js
  server/services/user.js
Labels: Server

#44 [Client] 소셜로그인 기능
  .DS_Store
  client/public/images/logo.png
  client/public/images/writeHeaderIcon.png
  client/src/App.js
  client/src/components/Header.jsx
  client/src/components/HeaderStyled.js
  client/src/components/LoginModal.jsx
  client/src/components/ModalStyled.js
  client/src/pages/Login.jsx
  client/src/pages/LoginStyled.js
Labels: feature, Bare Minimum, Client

#45 [Server] 클라이언트 연결 후 소셜 로그인 적용
  server/controllers/comments/comments.js
  server/controllers/comments/likes.js
  server/controllers/users/users.js
  server/middleware/checkAuth.js
  server/services/comment.js
  server/services/user.js
Labels: Server

#47 [Server] feat: post API 완성
  server/config/s3.js
  server/controllers/functions/file.js
  server/controllers/posts/posts.js
  server/middleware/checkAuth.js
  server/middleware/upload.js
  server/package-lock.json
  server/package.json
  server/routes/posts.js
  server/services/post.js
Labels: 4h, Bare Minimum, Server

#48 [server] hot3 post list 기능
  server/app.js
  server/controllers/posts/posts.js
  server/controllers/posts/vote.js
  server/package-lock.json
  server/package.json
  server/routes/posts.js
  server/services/post.js
  server/services/postAnswer.js
Labels: feature, Bare Minimum, Server

#52 [server] 투표 현황 이메일 전송 기능
  server/app.js
  server/config/mail.transport.js
  server/imgs/stats62f07b128f1227fa4805804f.png
  server/models/post.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/services/sendMailStats.js
Labels: feature, Advanced, Server

#54 [Server] 게시판 리스트 및 hot3 리스트 수정 - 피드백 적용 (+ 서버 기본 설정 변화)
  server/app.js
  server/controllers/posts/posts.js
  server/models/hotPost.js
  server/package-lock.json
  server/package.json
  server/routes/posts.js
  server/services/post.js
  server/services/sendMailStats.js
Labels: setting, refactoring, Bare Minimum, Server

#55 [Server] 댓글 API 수정(피드백)
  server/controllers/comments/comments.js
  server/services/comment.js
Labels: Server

#57 [Server] 투표 기능 메서드 getUserIdAnswered 메서드 인자 추가
  server/controllers/posts/vote.js
  server/services/postAnswer.js
Labels: refactoring, Server

#59 [Client] 메인페이지 컴포넌트 기능 구현
  client/public/images/adminIcon.png
  client/public/images/artIcon.png
  client/public/images/binocularsIcon.png
  client/public/images/commentsCntIcon.png
  client/public/images/dislikesIcon.png
  client/public/images/downArrow.png
  client/public/images/eduIcon.png
  client/public/images/etcIcon.png
  client/public/images/farmIcon.png
  client/public/images/firmIcon.png
  client/public/images/healthIcon.png
  client/public/images/judgeIcon.png
  client/public/images/landIcon.png
  client/public/images/lawIcon.png
  client/public/images/likesIcon.png
  client/public/images/logo_transparent.png
  client/public/images/moneyIcon.png
  client/public/images/peopleIcon.png
  client/public/images/scienceIcon.png
  client/public/images/worldIcon.png
  client/src/App.js
  client/src/components/Category.jsx
  client/src/components/CategoryStyled.js
  client/src/components/Header.jsx
  client/src/components/HeaderStyled.js
  client/src/components/ListCard.jsx
  client/src/components/ListStyled.js
  client/src/components/LoginModal.jsx
  client/src/components/LoginModalStyled.js
  client/src/components/TopCard.jsx
  client/src/components/TopCardStyled.js
  client/src/pages/Detail.jsx
  client/src/pages/Login.jsx
  client/src/pages/Main.jsx
  client/src/pages/MainStyled.js
  server/app.js
Labels: feature, Bare Minimum, Client

#56 [Server] socket.io 서버 구성
  server/app.js
  server/controllers/socket.js
  server/package.json
Labels: Advanced, Server

#62 [Client] 클라이언트 알림 기능 구현
  client/package.json
  client/public/images/notificationEmptyIcon.png
  client/public/images/notificationIcon.png
  client/src/App.js
  client/src/components/DropDown.jsx
  client/src/components/DropDownStyled.js
  client/src/components/Header.jsx
  client/src/components/HeaderStyled.js
  client/src/components/SocketContainer.jsx
  client/src/reducers/notificationSlice.js
  client/src/reducers/rootReducer.js
  server/controllers/index.js
Labels: Advanced, Client

#63 [client/server] 오류 수정
  client/src/pages/Login.jsx
  client/src/pages/Main.jsx
  client/src/pages/Write.jsx
  package.json
  server/app.js
  server/controllers/comments/comments.js
  server/controllers/comments/likes.js
  server/controllers/posts/posts.js
  server/controllers/posts/vote.js
  server/controllers/users/users.js
  server/imgs/stats62ec8be0b14c0e05f9ae5874.png
  server/imgs/stats62f07b128f1227fa4805804f.png
  server/middleware/checkAuth.js
  server/models/user.js
  server/package.json
  server/routes/comments.js
  server/routes/posts.js
  server/services/post.js
  server/services/sendMailStats.js
  server/services/user.js
Labels: feature, refactoring, Client, Server

#65 [Client/Server] 서버, 클라이언트 연결 오류 수정
  client/package-lock.json
  client/src/App.js
  client/src/components/BarGraphModal.jsx
  client/src/components/BarGraphModalStyled.js
  client/src/components/Category.jsx
  client/src/components/CategoryStyled.js
  client/src/components/Comment.jsx
  client/src/components/CommentStyled.js
  client/src/components/Header.jsx
  client/src/components/ListCard.jsx
  client/src/components/ListStyled.js
  client/src/components/LoginModal.jsx
  client/src/components/TopCard.jsx
  client/src/components/TopCardStyled.js
  client/src/pages/Detail.jsx
  client/src/pages/DetailStyled.js
  client/src/pages/Main.jsx
  client/src/pages/Write.jsx
  server/app.js
  server/controllers/comments/comments.js
  server/controllers/comments/likes.js
  server/controllers/posts/posts.js
  server/controllers/posts/vote.js
  server/package-lock.json
  server/services/comment.js
  server/services/commentLike.js
  server/services/post.js
  server/services/user.js
Labels: bug, Client, Server

#64 README update
  .gitignore
  README.md
Labels: documentation
